<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>headSet</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">headSet</ion-title>
      <!-- noem do produto | uppercase  vai deixar todos os nomes dos produtos maiusculos -->
      <!-- na frente do valor do produto {{produto.valor | number: '1.2-2'}} -->
      <!-- No botao do carrinho colocaremos uma funcao de (click)="addProdutoCarrinho(produto)" nele que disparará a informação -->
    </ion-toolbar>
  </ion-header>
</ion-content>
