<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title color="light" class="ion-text-center">
      Categorias
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

<ion-grid>
  <ion-row>
    <ion-col>
      <ion-card color="dark">
        <img src="https://blog.br.playstation.com/tachyon/sites/4/2023/06/0e0b929ddad81d5d14e2d50ee5aa6ff85fa4bd97-scaled.jpg">
        <ion-item color="dark">
          <ion-label color="light" class="title-promotion">Confira nossas promoções de ferias!</ion-label>
        </ion-item>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-card color=""><img src="https://edifier.com.br/pub/media/catalog/product/cache/f1731b22860b0086fc34e14d5ee03543/h/e/headset-gamer-edifier-gx-hi-res.jpg">
      <ion-item color="dark">
        <ion-label color="light">head-set</ion-label>
      </ion-item>
    </ion-card>
    </ion-col>
    <ion-col>
      <ion-card><img src="https://cdn.dooca.store/180/products/teclado-gamer-rgb-semi-mecanico_640x640+fill_ffffff.png?v=1581015802&webp=0">
      <ion-item color="dark">
        <ion-label color="light">Teclados</ion-label>
      </ion-item>
    </ion-card>
    </ion-col>
    <ion-col>
      <ion-card color=""><img src="https://images.theconversation.com/files/265294/original/file-20190322-36283-1me4pb6.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=1200&h=1200.0&fit=crop">
      <ion-item color="dark">
        <ion-label color="light">Mouses</ion-label>
      </ion-item>
    </ion-card>
    </ion-col>
    <ion-col>
      <ion-card color=""><img src="https://down-br.img.susercontent.com/file/e537a76479d6255d658bc779cbc0cddc">
      <ion-item color="dark">
        <ion-label color="light">Mouse-pad</ion-label>
      </ion-item>
    </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>

</ion-content>
